<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Dan Lash's Resume</title>
    <meta name="description" content="The resume of Dan Lash">
    <meta name="viewport" content="width=device-width">
    <style>{{> css}}</style>
  </head>
  <body>
    
    <header>
        <address class="vcard">
          <h1 class="fn">Dan Lash</h1>
          <a class="email" href="mailto:danlash@gmail.com">danlash@gmail.com</a>
          <div class="adr">
            <div class="street-address">897 N Highland AVE NE APT BT2</div>
            <span class="locality">Atlanta</span>, 
            <span class="region">GA</span>, 
            <span class="postal-code">30306</span>

          </div>
        </address>
    </header>

    <nav>
      <a href="index.html">Traditional</a>
      <a href="graphs.html">Graphs</a>
      <a href="timeline.html">Timeline</a>
      <a href="map.html">Map</a>
      <a href="data.html">Data</a>
    </nav>

    <main>
      <section class="technologies">
        <h3>Technologies</h3>
        <ul>

          {{#each technologies}}
            <li class="{{type}}" data-start-date="{{start}}" date-end-date="{{end}}">
              <span class="name">{{name}}</span>
              <span class="proficiency">{{bar proficiency}}</span>
              <span class="affinity">{{bar affinity}}</span>
            </li>
          {{/each}}
          
        </ul>
      </section>

      <section class="projects">
        <h3>Projects</h3>
        <ul>
          <li data-start-date="2010-04-01" data-end-date-"2014-04-01">
            <span class="name">VersionOne</span>
            <span class="size">####</span>
            <span class="influence">###</span>
          </li>
        </ul>
      </section>

      <section class="employers">
        <h3>Employers</h3>
        <ul>    
          <li data-start-date="2010-04-01" data-end-date="2014-04-01">
            <span class="name">VersionOne</span>
            <span class="location">Atlanta, GA</span>
            <span class="growth">####</span>
            <span class="happiness">#####</span>
          </li>
        </ul>
      </section>

      <section class="degress">
        <h3>Degrees</h3>
        <ul>    
          <li data-start-date="1998-08-01" date-end-date="2002-06-01">
            <span class="type">Diploma</span>
            <span class="concentration">Computer Programming</span>
            <span class="issued-by">Holt High School</span>
            <span class="location">Holt, MI</span>
            <span class="grade">3.3 / 4.0</grade>
          </li>
        </ul>
      </section>

      <section class="profiles">
        <h3>Profiles</h3>
        <ul>
          <li>
            <span class="name">Github</span>
            <span class="url">https://www.github.com/danlash</span>
          </li>
        </ul>
      </section>

      <section class="interests">
        <h3>Interests</h3>
        <ul>
          <li>Agile / Lean</li>
        </ul>
      </section>
    </main>

    <footer>
      Grab a PDF copy of this resume!
    </footer>
    

    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>